*{
    margin: 0px;
    padding: 0px;
}
body{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: black;
}
img{
    margin-top: 50px;
    margin-left: 10px;

}
.one{
    height: 500px;
    width: 50%;
    margin-top:50px;
    display: flex;
}
.two{
    margin-left: 30px;
    margin-top: 20px;
}
h1{
    padding-bottom: 10px;
    font-size: 60px;
     color: white;
}
span{
    padding:10px;
    padding: 10px;
 font-size: 20px;
 color: red;
 letter-spacing: 2px;
 
}
h4{
    font-size: 20px;
    color: white;
}
p{
    padding-top: 10px;
    line-height: 30px;
    letter-spacing: 1px;
    color:white;
}
button{
    margin-top: 15px;
    padding-left: 2px;
    border-radius: 10px;
    background-color: purple;
    color: white;
    font-size: 20px;
}

